@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif, Verdana, Tahoma;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #ededed;
}

.main-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 1em;
    color: #333333;
}

.gridContainer {
    box-shadow: 1px 1px 10px 2px lightgray;
    width: 600px;
    height: 600px;
    margin: 2em auto 1em auto;
    display: flex;
    flex-wrap: wrap;
}

.gridElement {
    user-select: none;
}

.gridSizeContainer {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 0.8em;
    justify-content: center;
}

.gridSizeText {
    font-size: 1.5rem;
    font-weight: 600;
}

#gridSize {
    font-size: 1em;
}

.settings {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    gap: 2em;
    width: 100%;
}

.btn {
    padding: 0.5em 2em;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(230, 230, 230);
}

.btn:active {
    background-color: lightgray;
}

.btnActive {
    color: white;
    background-color: #333333;
}

.btnActive:hover,
.btnActive:active {
    color: white;
    background-color: #333333;
}

@media screen and (max-width: 600px) {
    .settings {
        flex-direction: column;
    }
}