@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif, Verdana, Tahoma;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #ededed;
}

.main-title {
    font-size: 3rem;
    text-align: center;
    flex: 1;
    margin-top: 1em;
}

.gridContainer {
    box-shadow: 1px 1px 10px 2px lightgray;
    width: 500px;
    height: 500px;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
}

.gridOptionsContainer {
    display: flex;
    justify-content: center;
    gap: 8em;
    align-items: center;
}

.gridSizeContainer {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.eraserBtn {
    padding: 0.4em 1.6em;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

.eraserBtn:hover {
    background-color: rgb(230, 230, 230);
}

.eraserBtn:active {
    background-color: lightgray;
}

.gridSizeText {
    font-size: 1.5rem;
    font-weight: 600;
}

#gridSize {
    font-size: 1em;
}

